@import "../../main";

.overview{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: $line;

  & > * {
    padding: 1.5rem;
  }
  &__heading{
    text-transform: uppercase;
    font-weight: 300;
    color: $grey-dark-2;
    font-size: 2.4rem;

    @media only screen and (max-width: $bp-small){
      font-size: 1.8rem;
    }
  }

  &__icon{
    color: $primary;
    height: 1rem;
  }

  &__stars{
    display: flex;
  }

  &__location{
    margin-left: auto;
    cursor: pointer;
    display: flex;


    transition: all .2s;
    &--name{
      display: inline-block;
      font-size: inherit;
      border: none;
      background: transparent;
      color: $primary;
      border-bottom: 1px solid currentColor;
      padding-bottom: 2px;
      &:hover{
        color: $grey-dark-1;
      }

      &:focus{
        outline: none;
        animation: pulsate 1s infinite;
      }
    }
  }

  &__rating{
    align-self: stretch;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2.25rem;

    color: #ffffff;

    @media only screen and (max-width: $bp-small){
      padding: 0 1.5rem;
    }
  }

  &__rate{
    font-size: 2.4rem;
    font-weight: 300;
    @media only screen and (max-width: $bp-small){
      font-size: 1.8rem;
    }
  }

  &__votes{
    font-size: .8rem;
    @media only screen and (max-width: $bp-small){
      font-size: .5rem;
    }
  }

}